* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 4rem ;
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.slider-wrapper{
    display: flex;
    align-items: center;
}

i{
    font-size: 3rem;
}

button{
    background-color: white;
    border: none;
    margin: 0 1em;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

.thumbnail-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.thumbnail-image-container{
    width: 10%;
    height: 15%;
    /* object-fit: contain; */
}
.thumbnail-image-container>img{
    width: 100%;
    opacity: 0.5;
    /* object-fit: contain; */
}

.thumbnailActive{
    opacity: 1;
}