<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <button @click="prevImg">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <div v-for="(slide, index) in slides" :key="index" class="item" :class="{active: myIndex===index, inactive: myIndex!==index}">
                    <img :src="slides[index].image" :alt="slide.title"/>
                    <div class="text">
                        <h3>
                            {{slide.title}}
                        </h3>
                        <p>
                            {{ slide.text }}
                        </p>
                    </div>
                </div>
                <button @click="nextImg">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>

            <div class="thumbnail-container">
                <div v-for="(image, index) in slides" class="thumbnail-image-container">
                    <img :src="image.image" :alt="image.title"  :class="{thumbnailActive: index===slides.index}">
                </div>
            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>